/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/


/* Portrait tablets and medium desktops */

@media (max-width: 1700px) {
    .xs-video-popup-wraper {
        margin: 25% 0px;
    }
}

@media (max-width: 1400px) {
    .xs-video-popup-wraper {
        margin: 40% 0px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .xs-causes-footer {
    text-align: center;
    padding: 15px;
    color: #041d57;
}
    .xs-funFact-v3 {
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
    }
    .intl-tel-input {
        width: 86%;
    }
    .xs-video-popup-wraper {
        margin: 50% 0px;
    }
    body {
        font-size: 14px;
        ;
    }
    .header-transparent .nav-menu li a,
    .xs-box .nav-menu li a {
        padding: 60px 5px;
    }
    ul.nav-dropdown.nav-submenu li a {
        padding: 12px 40px!important;
    }
    .xs-header.xs-fullWidth .nav-menu li a {
        padding: 34px 12px;
        color: #222222;
    }
    .xs-header .nav-menu li a {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 40px 15px;
        height: auto;
        /*color: #000000;*/
    }
    .btn {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .3px;
        border-radius: 50px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 16px 18px;
        line-height: 1;
        border: 0;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        z-index: 1;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }
    .btn-outline-primary {
        border: 2px solid #F2F2F2;
        padding: 14px 34px;
        background-color: transparent;
    }
    .xs-feature-image-box.image-2 {
        margin-top: 12px;
    }
    span.preinput {
        display: none;
    }
    li.nav-item.donation-level-container {
        width: 45%;
    }
    .inedx_box li.nav-item.donation-level-container {
        width: auto;
    }
    a.nav-link.button.button--grey-20.amount-button {
        width: 100%!important;
    }
}


/* Portrait tablets and small desktops */

@media (min-width: 977px) and (max-width: 992px) {
    .xs-header.xs-fullWidth .nav-menu li a {
        padding: 11px 6px;
    }
    .xs-header.xs-fullWidth .nav-menu {
        text-align: unset;
    }
    li.mb-useronly {
        display: none;
    }
    /* .nav-menus-wrapper [class*="col-"] {
        flex: 16.666667%;
    } */
    .xs-header .nav-menu li a {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 40px 15px;
        height: auto;
        color: #000000;
    }
    .xs-header.xs-fullWidth .nav-menu {
        text-align: right;
        padding-top: 27px;
    }
    .xs-navs-button.d-flex-center-end {
        display: none;
    }
}

@media (max-width: 992px) {
    .xs-top-bar.top-bar-second.mblend .xs-top-bar-mail {
        float: right;
        margin-right: 0;
    }
    .intl-tel-input {
        width: 91%;
    }
    .img_section_side {
        /*margin: 50% 0;*/
    }
    /* .widget-area {
        display: none;
    } */
    .mbl-sideshow {
        display: block;
    }
    .xs-about-feature.new {
        padding-left: 20px;
        padding-right: 20px;
    }
    p.footer_all_p {
        font-size: 20px;
        font-weight: 700;
    }
    .xs-video-popup-wraper {
        margin: 0px 0px;
    }
    .xs-partner-content .xs-heading .xs-title {
        font-size: 2.28571em;
        text-align: center;
    }
    .xs-footer-top-layer {
        padding-top: 110px;
        padding-bottom: 15px;
    }
    .xs-donation-form-wrapermbl {
        padding: 30px;
    }
    section.mbl_box {
        display: block;
    }
    .newgif {
        background-image: url(../images/slider/gif-banner-tab-1.gif);
    }
    html {
        font-size: 90%;
    }
    .postinput,
    .preinput {
        position: absolute;
        top: 57%;
        z-index: 2;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    /* margin bottom list  */
    .xs-btn-wraper a,
    .xs-archive-content,
    .xs-archive-image img,
    .xs-text-content,
    .xs-feature-image,
    .xs-service-promo,
    .xs-event-image,
    .xs-partner-content,
    .xs-single-journal,
    .footer-widget,
    .xs-feature-text-content,
    .xs-feature-image-box.image-1,
    .xs-single-funFact-v3,
    .xs-about-feature,
    .xs-single-funFact,
    .xs-single-team,
    .xs-event-schedule-widget .widget-title,
    .xs-event-wraper,
    .xs-post-footer .post-tags,
    .xs-single-children,
    .xs-nav-pills,
    .xs-single-pricing-table,
    .xs-volunteer-form-wraper.volunteer-version-2,
    .xs-contact-section-v2 .xs-contact-form-wraper,
    .xs-contact-details,
    .nav-menu {
        margin-bottom: 30px;
    }
    .xs-archive-image .xs-mb-30 {
        margin-bottom: 0;
    }
    /* ipad overlay */
    .xs-ipad-overlay {
        position: relative;
    }
    .xs-ipad-overlay::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
    }
    /* menus */
    .header-transparent .xs_nav-portrait .nav-toggle:before {
        background-color: #ffffff;
        box-shadow: 0 0.5em 0 0 #ffffff, 0 1em 0 0 #ffffff;
    }
    .header-transparent .nav-menu li a .submenu-indicator-chevron {
        border-color: transparent #333333 #333333 transparent;
    }
    .xs_nav-portrait .nav-menus-wrapper {
        margin-left: 0;
        margin-right: 0;
    }
    .xs_nav-portrait .nav-menus-wrapper-close-button {
        margin: 0 0 0 auto;
    }
    .header-transparent .nav-brand,
    .xs-box .nav-brand {
        filter: none;
        min-height: auto;
        max-height: none;
        line-height: 1;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .header-transparent .nav-menu li a,
    .xs-box .nav-menu li a {
        padding: 15px 15px;
        color: #333333;
    }
    /* .header-transparent .nav-menu, .xs-box .nav-menu {
            margin-bottom: 30px;
    } */
    .xs-top-bar.top-bar-second:before,
    .xs-top-bar.top-bar-second:after {
        display: none;
    }
    /*  welcome section  */
    .xs-welcome-wraper h2 {
        font-size: 1.6em;
    }
    .xs-welcome-wraper.banner-verion-2 p {
        font-size: 1em;
        margin-bottom: 0px;
    }
    /* section heading */
    .xs-heading .xs-title:before {
        display: none;
    }
    .xs-line-title:before {
        display: none;
    }
    .xs-heading .xs-btn-wraper {
        text-align: left;
    }
    .xs-heading .xs-title {
        font-size: 28px;
    }
    .xs-feature-text-content .xs-heading .xs-title {
        font-size: 1.5em;
        color: #222222;
        margin-bottom: 17px;
    }
    /* section padding */
    .xs-section-padding,
    .xs-about-v2~.xs-popularCauses-v2 {
        padding: 40px 0;
    }
    .xs-content-section-padding {
        padding: 50px 0;
    }
    /* archive */
    .xs-archive-content {
        padding-left: 0;
        padding-right: 0;
    }
    .xs-funfact-list li span {
        font-size: 0.65714em;
    }
    .xs-archive-image {
        margin-left: 0;
        margin-right: 0;
    }
    .xs-archive-image img {
        width: 100%;
    }
    /* causes */
    .xs-popular-item .xs-item-header img {
        width: 100%;
    }
    /* text content */
    .xs-text-content {
        padding-right: 0;
    }
    /* feature image */
    .xs-feature-image img {
        width: 100%;
    }
    /* feature content */
    .xs-feature-content,
    .xs-feature-content-v2 {
        padding: 90px 20px;
    }
    .xs-feature-content h2,
    .xs-feature-content-v2 h2 {
        font-size: 2.28571em;
        margin-bottom: 0;
    }
    /* feature box */
    .xs-feature-box {
        padding: 80px 30px;
        min-height: 250px;
    }
    .xs-feature-box.highlight {
        min-height: 350px;
    }
    .xs-feature-box-fulid {
        margin-top: 0;
    }
    /* voulnteer */
    .xs-volunteer-form-wraper {
        padding: 20px;
    }
    .xs-big-sub-title,
    .xs-volunteer-form-wraper h2 {
        font-size: 1.88571em;
    }
    /* event */
    .xs-single-event {
        margin-left: 0;
        margin-right: 0;
    }
    .xs-event-image img {
        width: 100%;
    }
    /* journal */
    .xs-single-journal .entry-thumbnail img {
        width: 100%;
    }
    /* footer */
    .xs-copyright-text p {
        margin-bottom: 15px;
        text-align: center;
    }
    .xs-footer-menu {
        text-align: center;
    }
    /* index version 2 */
    /* xs box menu */
    .xs-header.xs-box .xs_nav-portrait {
        height: 44px;
    }
    .xs-header.xs-box .nav-menu li a {
        padding: 15px 15px;
    }
    .xs-header.xs-box .xs-top-bar~.nav-menus-wrapper .xs-logo-wraper {
        margin-top: 0;
    }
    .xs-header.xs-box .nav-menus-wrapper .xs-logo-wraper {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .xs-header.xs-box .xs-navs-button {
        text-align: center;
        height: auto;
    }
    /* xs top bar */
    .xs-top-bar .xs-top-social {
        float: left;
        margin-bottom: 0;
        margin-right: 30px;
    }
    .xs-top-bar .xs-top-bar-mail {
        float: left;
        margin-right: 0;
        margin-top: 1px;
    }
    .xs-nav-logo.md {
        display: block;
        height: auto;
        width: 120px;
    }
    .xs-top-bar.top-bar-second.webend {
        display: none;
    }
    .xs-top-bar.top-bar-second.mblend {
        display: block;
    }
    /* about */
    .xs-about-v2 {
        margin-bottom: 30px;
    }
    .xs-about-content-img {
        width: 100%;
        height: 400px;
    }
    .xs-about-content {
        padding: 30px 15px 0;
    }
    /* xs full width */
    .xs_nav-portrait {
        position: relative;
    }
    .xs-header.xs-fullWidth .nav-brand {
        padding: 13px 0;
        text-align: center;
        margin: 13px 0;
    }
    /* index version 3 feauture text content */
    .xs-feature-image-box.image-2 {
        margin-top: 0;
        margin-bottom: 50px;
    }
    /* causes */
    .xs-causes-footer {
        padding: 20px;
    }
    /* event single */
    .xs-horizontal-tabs .tab-content .tab-pane .xs-unorder-list li:last-child {
        margin-bottom: 15px;
    }
    .xs-event-schedule-widget,
    .xs-horizontal-tabs .tab-content {
        padding: 30px;
    }
    /* blog single */
    .sidebar-right .widget {
        margin-left: 0px;
    }
    .xs-blog-post-comment {
        margin-bottom: 40px;
    }
    .widget_call_to_action img {
        width: 100%;
    }
    /* children */
    .xs-single-children img {
        width: 100%;
    }
    .xs-donation-form-wraper {
        padding-left: 0px;
        margin-top: 30px;
        /* display: none; */
    }
    .xs-donation-form-wraper.home_donate {
        display: none;
    }
    /* nav.xs-menus.xs_nav-landscape {
    display: none;
} */
    .xs-top-bar .xs-top-social li a {
        color: #FFFFFF;
        font-size: 16px;
        padding: initial;
    }
    .xs-top-bar.top-bar-second.webend li a {
        color: #212529;
        font-size: 16px;
        padding: initial;
        height: auto;
        padding: 20px;
    }
    /* donate-now.html */
    .xs-children-section {
        padding-bottom: 20px;
    }
    .xs-what-we-do-box {
        padding-bottom: 50px;
    }
    .xs-donation-form-images img {
        width: 100%;
    }
    /* FAQ */
    .xs-newsletter-content {
        padding: 40px;
    }
    .xs-newsletter-form [type="submit"] {
        width: 100%;
        height: 50px;
    }
    .xs-newsletter-form {
        height: auto;
    }
    .xs-newsletter-form input:not([type="submit"]) {
        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        border-right: 2px solid rgba(255, 255, 255, 0.6);
    }
    /* mission.html */
    .xs-fature-causes-deatils {
        margin-top: 30px;
    }
    .xs-fature-causes-deatils h3 {
        font-size: 2em;
        line-height: 1.5;
    }
    .xs-call-to-action h3 {
        font-size: 1.5em;
        line-height: 1.5;
    }
    .xs-causes-images img {
        width: 100%;
    }
    /* service.html */
    .xs-service-slider-content {
        padding: 0 15px;
    }
    .xs-service-slider-content h2 {
        font-size: 2.5em;
    }
    .xs-service-grow h4 {
        padding-top: 20px;
        padding-left: 0px;
    }
    /* volunteer */
    .xs-volunteer-form-wraper.volunteer-version-2 {
        padding-top: 0px;
    }
    /* contact.html */
    .xs-contact-container {
        padding: 30px;
    }
    .xs-contact-section-v2 {
        padding-bottom: 20px;
    }
    .pr-0-md {
        padding: 0 15px!important;
    }
    .sidebar::after {
        content: "";
        display: none;
        width: 300%;
        position: absolute;
        top: 0;
        /* left: -100%; */
        bottom: 0;
        /* background: #fafafa; */
        z-index: -1;
        -webkit-box-shadow: 0 -1px 0 #e1e1e1 inset;
        box-shadow: 1px 0 0 #e1e1e1 inset;
    }
    .sponsorship-frequency-selector {
        float: right;
        text-align: right;
        margin-bottom: 15px;
        width: 100%;
    }
    span.preinput {
        display: none;
    }
    li.nav-item.donation-level-container {
        width: 45%;
    }
    a.nav-link.button.button--grey-20.amount-button {
        width: 100%!important;
    }
}


/* Landscape phones and portrait tablets */

@media (max-width: 978px) {
    .xs-header .nav-menus-wrapper {
        flex-direction: unset;
    }
    .nav-menus-wrapper [class*="col-"] {
        max-width: 100%;
        flex: 0 0 100%;
    }
    li.mb-useronly {
        display: block;
    }
    .xs-header.xs-fullWidth .nav-menu li a {
        padding: 15px 15px;
    }
}

@media (max-width: 767px) {
    .xs-single-causes .xs-causes-footer {
    height: auto;
}
.mbl_ver th {
        font-size: 14px;
    }
    .intl-tel-input {
        width: 87%;
    }
    .img_section_side {
        /*margin: 30% 0;*/
    }
    .xs-inner-banner-content h2 {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: -.2px;
    }
    .xs-heading .xs-title {
        font-size: 25px;
    }
    .xs-welcome-wraper.banner-verion-2.color-white {
        top: 120px;
    }
    .newgif {
        background-image: url(../images/slider/gif-banner-mobile-3.gif);
        min-height: 656px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        position: relative;
    }
    .newgif1 {
        background-image: url(../images/slider/background-2-mobile-1.png);
    }
    .newgif2 {
        background-image: url(../images/slider/background-3-mobile-2.png);
    }
    html {
        font-size: 80%;
    }
    .recaptcha-text,
    .recaptcha-text a {
        font-size: 12px;
        color: #f8f9fa;
        text-transform: none;
    }
    /* menus */
    /* header top bar */
    .xs-header.xs-box .xs_nav-portrait {
        height: 64px;
    }
    .xs-top-bar .xs-top-social {
        float: left;
        margin-bottom: 15px;
    }
    .xs-top-bar.top-bar-second.mblend .xs-top-social {
        float: left;
        margin-bottom: 0;
    }
    
    .xs-top-bar .xs-top-bar-mail {
        float: left;
        margin-right: 0;
    }
    .xs-header .nav-menus-wrapper {
        flex-direction: unset;
    }
    /* event single */
    .xs-horizontal-tabs .nav-tabs .nav-item {
        width: 100%;
    }
    .xs-blog-post-details .xs-padding-40,
    .xs-blog-post-comment.xs-padding-40 {
        padding: 30px;
    }
    .xs-post-footer .post-tags,
    .xs-post-footer .post-author,
    .xs-author-block .post-tags,
    .xs-author-block .post-author {
        float: none;
        width: 100%;
    }
    .xs-post-footer .share-items,
    .xs-post-footer .post-content,
    .xs-author-block .share-items,
    .xs-author-block .post-content {
        float: none;
        width: 100%;
        text-align: left;
    }
    .xs-social-list li,
    .xs-social-list-v2 li {
        margin: 0 10px 15px 0;
    }
    .xs-blog-post-comment .children {
        padding-left: 15px;
    }
    .xs-feature-text-content .xs-heading .xs-title {
        font-size: 22px;
        color: #222222;
        margin-bottom: 17px;
    }
    .xs-single-children img {
        height: auto;
    }
    .column {
        width: 100%;
    }
    li.nav-item.donation-level-container {
        width: 45%;
    }
    a.nav-link.button.button--grey-20.amount-button {
        width: 100%!important;
    }
    .xs-heading p {
        margin-bottom: 0;
        font-size: 1em;
    }
}

@media(max-width: 576px) {
     .mbl_ver th {
        font-size: 10px;
    }
    #sponsor_cart td {
        font-size: 11px;
    }
    #sponsor_cart td a {
        font-size: 11px;
    }
    .xs-funFact-v3 {
        background-repeat: no-repeat;
        background-position: revert;
        background-size: cover;
    }
    .intl-tel-input {
        width: 86%;
    }
    .sponsorship-figure-column {
        text-align: center;
        margin-bottom: 48px;
    }
    .xs-heading .mx-auto p {
        margin-bottom: 20px;
        text-align: justify;
    }
    .xs-inner-banner-content h2 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        letter-spacing: -.2px;
    }
    .for_web {
        display: none;
    }
    .for_mbl {
        display: block;
    }
    .mbl_display {
        display: block;
    }
    .web-desiplay {
        display: none;
    }
    .inedx_box li.nav-item.donation-level-container {
        width: 100%;
    }
}


/* Landscape phones and smaller */

@media (max-width: 480px) {
    .intl-tel-input {
        width: 80%;
    }
    html {
        font-size: 65%;
    }
    .img_section_side {
        /*margin: 10% 0;*/
    }
    a.button.button--grey-20.amount-button {
        font-size: 11px;
    }
    .media_link_section_google {
        background: #c93823;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .media_link_section_google i {
        color: white;
        font-size: 20px;
        position: relative;
        /* right: -5px; */
        left: 0;
    }
    .media_link_section_fb {
        background: #4a5395;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .media_link_section_fb i {
        color: white;
        font-size: 20px;
        position: relative;
        /* right: -5px; */
        left: 0;
    }
    .media_link_section_twitter {
        background: linear-gradient(to top, #a50c69, #e88305);
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }
    .media_link_section_twitter i {
        color: white;
        font-size: 20px;
        position: relative;
        /* right: -5px; */
        left: 0;
    }
    li.nav-item.donation-level-container {
        width: 100%;
    }
    a.nav-link.button.button--grey-20.amount-button {
        width: 100%!important;
    }
    .btn {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: .3px;
        border-radius: 50px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
        padding: 16px 24px;
        line-height: 1;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        z-index: 1;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
        margin-bottom: 10px;
    }
    .xs-heading .xs-title {
        font-size: 20px!important;
    }
}

@media (max-width: 320px) {
    .intl-tel-input {
        width: 76%;
    }
    html {
        font-size: 60.5%;
    }
}